body {
  background:#f3ecff;
  font-family:tahoma;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card {
  background:white;
  padding:25px;
  border-radius:15px;
  width:320px;
  text-align:center;
  box-shadow:0 15px 40px rgba(0,0,0,.15);
}

input, button {
  width:100%;
  padding:12px;
  margin-top:10px;
}

button {
  background:#7b2cff;
  color:white;
  border:none;
  border-radius:8px;
}